# Dependências e builds
node_modules/
dist/
build/
.temp/
.cache/

# Variáveis de ambiente
.env
.env.*.local
.envrc
*.env.*

# Coverage
coverage/

# Logs e arquivos temporários
*.log
*.tmp
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Configurações de IDE
.vscode/
.idea/

# Arquivos de backup e pessoais
*.swp
*.swo
*.bak
*.local
*~ 