# Dependências e builds
node_modules/
dist/
dist-ssr/
build/
.temp/
.cache/

# Variáveis de ambiente
.env
.env.*.local
.envrc
*.env.*

# Coverage
dist-ssr/
coverage/

# Logs e arquivos temporários
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
node_moduleslog*
*.tmp
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Configurações de IDE
.vscode/
!.vscode/extensions.json
.idea/

# Arquivos de backup e pessoais
*.swp
*.swo
*.bak
*.local
*~

# Arquivos de projeto do Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 